.signup-2 {
    margin-right: 6px;
    background-color: var(--white_0);
    width: 56%;
    display: flex;
    justify-content: center;
    padding: 50px 42px;
    border-radius: var(--radius-4xl);
}

@media only screen and (max-width: 1050px) {
    .signup-2 {
        width: 100%;
        margin-right: 0px;
        padding: var(--space-6xl);
    }
}

.wrapped {
    margin-bottom: 14px;
    width: 100%;
}

.rowarrowdown {
    gap: 50px;
    display: flex;
    align-items: flex-start;
}

.forgotpassword-link {
    margin-top: 8px;
    align-self: flex-end;
}

.title {
    margin-top: 16px;
    gap: var(--space-5xl);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location_one {
    height: 60px;
    padding-left: var(--space-3xl);
    padding-right: var(--space-3xl);
    background-color: var(--gray_100_01) !important;
    width: 60px;
    border-radius: 30px !important;
}

.columnforgotpass {
    gap: var(--space-lg);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
}

.forgotpassword-1 {
    color: var(--text_primary) !important;
}

.form {
    margin-top: 48px;
    gap: var(--space-13xl);
    display: flex;
    flex-direction: column;
}
