/* ======= TABLE OF CONTENTS ==========
1. Common CSS
2. Page CSS
=================================== */

/* -------------------------
1. Common CSS
------------------------- */
.email-1 {
    color: var(--gray_100_01) !important;
    font-family: Poppins !important;
    text-transform: capitalize;
  }

  /* -------------------------
  2. Page CSS
  ------------------------- */
  .columndescripti {
    gap: var(--space-9xl);
    background-color: var(--back);
    display: flex;
    flex-direction: column;
  }

  .rowcreatean {
    margin-bottom: 4px;
    gap: var(--space-15xl);
    display: flex;
    align-self: flex-start;
    @media only screen and (max-width: 1050px) {
      flex-direction: column;
    }
  }

  .rowdescription {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 72px var(--space-xl);
    @media only screen and (max-width: 1050px) {
      align-self: stretch;
      padding: var(--space-6xl);
    }
  }

  .description {
    color: transparent !important;
    font-family: Poppins !important;
    background: linear-gradient(180deg, #ffffff, #ffffff70);
    background-clip: text;
    width: 56%;
    line-height: 120%;
    font-style: italic;
  }

  .column_two {
    margin-top: 26px;
    align-self: center;
    width: 46%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    @media only screen and (max-width: 1050px) {
      width: 100%;
      padding-left: var(--space-6xl);
      padding-right: var(--space-6xl);
    }
  }

  .columncreatean {
    gap: var(--space-3xl);
    background-color: var(--blue_gray_100_51);
    width: 92%;
    padding: 50px 36px;
    border-radius: var(--radius-4xl);
    @media only screen and (max-width: 1050px) {
      width: 100%;
      padding-top: var(--space-6xl);
      padding-bottom: var(--space-6xl);
    }
    @media only screen and (max-width: 550px) {
      padding: var(--space-6xl);
    }
  }

  .column_one {
    margin-right: 8px;
    gap: var(--space-4xl);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
      margin-right: 0px;
    }
  }

  .email {
    color: var(--gray_400) !important;
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
    font-family: Poppins;
    font-size: 14px;
    height: 48px;
    border-radius: 8px !important;
    border: 1px solid var(--gray_400) !important;
  }

  .columnpassword {
    gap: var(--space-2xl);
    display: flex;
    align-self: stretch;
    flex-direction: column;
  }

  .rowconfirmation {
    margin-left: 88px;
    margin-right: 88px;
    gap: var(--space-lg);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media only screen and (max-width: 1050px) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .login {
    color: var(--primary) !important;
    font-family: Poppins !important;
    text-transform: capitalize;
  }