<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Success</title>
  <link rel="stylesheet" href="../css/updatesuccess.css">
</head>
<body>
<div class="container">
  <div class="success-box">
    <div class="icon">
      <img src="https://storage.googleapis.com/a1aa/image/c8vfCnEspzOX5ov3dX65vYIGGEdnELte-7GoPt4L-YI.jpg"
           alt="Success Badge">
    </div>
    <h2>Delete Success!</h2>
    <p>Success! Room has been deleted successfully.</p>
    <a th:href="@{/manage-rooms}" class="btn success">Go to Room List</a>
    <a th:href="@{/admin-dashboard}" class="btn back">Back to Dashboard</a>
  </div>
</div>
</body>
</html>
